<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clinica F.Care</title>
  <style>
    .logoContainer {
      display: flex;
      justify-content: center;
    }

    .logo {
      width: 25%;
      padding: 5%;
    }

    .textContainer {
      padding: 2%;
    }

    .textContainer h1 {
      color: #c69d4b;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .textContainer h2,
    h3 {
      color: #c69d4b;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
    }

    .textContainer p {
      color: #374151;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }

    .textContainer li {
      color: #374151;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .li-auto {
      color: #374151;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      list-style-type: auto;
    }

    #line {
      color: #c69d4b;
      border-width: thin;
      border-style: double;
    }

    #name {
      text-align: center;
      padding-bottom: 5%;
    }

    .footer{
      padding: 5%;
      text-align: center;
    }
  </style>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>

  <div class="logoContainer">
    <img class="logo" src="https://www.clinicafcare.com.br/logo.svg" alt="logo_fcare">
  </div>
  <hr id="line">
  <div class="textContainer">

    <h1 id="name">Olá <%= name %>!</h1>
    <p>Seja bem vinda ao processo seletivo para a vaga: <b>Recepcionista</b></p>
    <p>As etapas deste processo seletivo serão definidos com os seguintes passos:</p>
    <ol class="li-auto">
      <li>Teste de Personalidade</li>
      <li>Teste Técnico no Google Planilhas</li>
      <li>Preenchimento do Formulário</li>
      <li>Entrevista Final (Google Hangouts)</li>
    </ol>

    <h2>Teste de Personalidade<h3> Instruções e Link:</h3>
    </h2>

    <ul>
      <li>Demora menos de 12 minutos.</li>
      <li>Responda honestamente (mesmo se você não gostar da resposta).</li>
      <li>Tente não deixar nenhuma resposta no “neutro”.</li>
    </ul>
    <p>Após terminar este teste, anote o seu resultado para preencher no formulário da 3 Etapa - 'Preenchimento do
      Formulário'.</p>
    <a href="https://www.16personalities.com/br/teste-de-personalidade" target="_blank" rel="noopener noreferrer">
      <p>Link do Teste: clique aqui para abrir o link do teste de personalidade</p>
    </a>

    <h2>Teste Técnico no Google Planilhas <h3> Instruções e Link:</h3>
    </h2>

    <p>O teste será realizado no Google Planilhas, você não precisa instalar nenhum tipo de
      programa de pacote office no seu computador, apenas abra o link abaixo ( No smartphone é possivel baixar o
      aplicativo Google Planilhas, mas recomendamos o uso de um computador ). Por favor, realize o
      teste individualmente,se for preciso consulte a Documentação do Google, não peça pra outras pessoas realizarem por
      você, na entrevista final vamos fazer perguntas técnicas para validar o seu
      conhecimento. </p>

    <a href="https://support.google.com/docs/table/25273?hl=pt-BR" target="_blank" rel="noopener noreferrer">
      <p>Documentação do Google</p>
    </a>
    <a href="https://docs.google.com/spreadsheets/d/<%= urlSheet %>/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
      <p>Link do Teste : clique aqui para abrir o link do seu teste online do Google Planilhas</p>
    </a>
    <h3>Teste Google Planilhas: Requisítos</h3>
    <ul>
      <li>Coluna COMISSÃO PROFISSIONAL:</li>
      <p>Somar a porcentagem de 65% baseado no valor total do serviço realizado pela
        cliente.</p>
      <li>Coluna COMISSÃO CLINICA:</li>
      <p>Somar a porcentagem de 35% baseado no valor total do serviço realizado pela
        cliente.</p>
      <li>Campos Inferiores:</li>
      <p>Somar totais relacionados às colunas.</p>
      <li>Gráfico:</li>
      <p>Após os cálculos totais, criar um Gráfico de métodos de pagamento no modelo
        'pizza', mostrando a porcentagem de cada um.</p>
    </ul>

    <a href="http://www.clinicafcare.com.br/planilha_exemplo.png" target="_blank" rel="noopener noreferrer">
      <h3>Clique aqui para ver o exemplo de Planilha finalizada</h3>
    </a>

    <h2>Preenchimento do Formulário:</h2>
    <p>Preencha o formulário apenas quando terminar os dois ultimos testes ( Google Planilhas e Teste de Personalidade),
      o envio do formulário será o aviso que voce terminou todas as atividade,e assim poderemos seguir com a sua
      avaliação para a etapa final.</p>
    <a href="https://forms.gle/mohq1cajRJcGxrWp8" target="_blank" rel="noopener noreferrer"></a>
    <p>Link do Formulário</p>

    <h1>Data Limite para entrega: 25/08/2022</h1>

    <div class="footer">

      <a href="https://www.clinicafcare.com.br/" target="_blank" rel="noopener noreferrer">
        <p>www.clinicafcare.com.br</p>
      </a>
    </div>
  </div>

</body>

</html>