<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clinica F.Care</title>
  <style>
    .logoContainer {
      display: flex;
      justify-content: center;
    }

    .logo {
      width: 10%;
      padding-top: 5%;
    }

    .textContainer {
      padding: 2%;
    }

    .textContainer h1 {
      color: #c69d4b;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .textContainer h2,
    h3 {
      color: #c69d4b;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
    }

    .textContainer p {
      color: #374151;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }

    .textContainer li {
      color: #374151;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .li-auto {
      color: #374151;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      list-style-type: auto;
    }

    .line {
      color: #c69d4b;
      border-width: thin;
      border-style: double;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #name {
      text-align: center;
      padding-bottom: 5%;
    }

    .footer {
      padding: 5%;
      text-align: center;
    }
  </style>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>

  <div class="logoContainer">
    <img class="logo" src="https://www.clinicafcare.com.br/logo_fcare.png" alt="logo_fcare">
  </div>
  <hr class="line">
  <div class="textContainer">

    <h1 id="name">Olá <%= name %>!</h1>
    <p>Seja bem-vinda ao processo seletivo para a vaga: <b>Recepcionista</b></p>
    <p>As etapas deste processo serão definidos com os seguintes passos:</p>
    <ol class="li-auto">
      <a href="#etapa1">
        <li>Teste de Personalidade</li>
      </a>
      <a href="#etapa2">
        <li>Teste Técnico no Google Planilhas</li>
      </a>
      <a href="#etapa3">
        <li>Preenchimento do Formulário</li>
      </a>
      <a href="#etapa3">
        <li>Entrevista Final (Google Hangouts)</li>
      </a>
    </ol>
    <hr class="line">
    <h2 id="etapa1">Teste de Personalidade<h3> Instruções e Link:</h3>
    </h2>

    <ul>
      <li>Demora menos de 12 minutos.</li>
      <li>Responda honestamente (mesmo se você não gostar da resposta).</li>
      <li>Tente não deixar nenhuma resposta no “neutro”.</li>
    </ul>
    <p>Após terminar este teste, anote o seu resultado para preencher no formulário da</p> <a href="#etapa3">
      <p> Etapa
        3 - 'Preenchimento do
        Formulário'.</p>
    </a>
    <a href="https://www.16personalities.com/br/teste-de-personalidade" target="_blank" rel="noopener noreferrer">
      <p>Link do Teste: clique aqui para abrir o link do teste de personalidade</p>
    </a>
    <hr class="line">
    <h2 id="etapa2">Teste Técnico no Google Planilhas <h3> Instruções e Link:</h3>
    </h2>

    <p>O teste será realizado no Google Planilhas. Recomendamos o uso do computador para maior facilidade de digitação,
      porém, também pode ser feito através do smartphone. </p>
    <a href="https://docs.google.com/spreadsheets/d/<%= urlSheet %>/edit?usp=sharing" target="_blank"
      rel="noopener noreferrer">
      <p>Link do Teste : clique aqui para abrir o link do seu teste online do Google Planilhas</p>
    </a>
    <p>Por favor, realize o teste individualmente da maneira que souber e se necessário, consulte a documentação do
      google no link a seguir para tirar qualquer dúvida:</p>
    <a href="https://support.google.com/docs/table/25273?hl=pt-BR" target="_blank" rel="noopener noreferrer">
      <p>Documentação do Google</p>
    </a>

    <p>Sugestão: Não peça ajuda de terceiros, é preferível que você seja sincera e realize da maneira que achar mais
      coerente.</p>


    <h3>Teste Google Planilhas: Requisítos</h3>
    <ul>
      <li>Coluna COMISSÃO PROFISSIONAL:</li>
      <p>Somar a porcentagem de 65% baseado no valor total do serviço realizado pela
        cliente.</p>
      <li>Coluna COMISSÃO CLINICA:</li>
      <p>Somar a porcentagem de 35% baseado no valor total do serviço realizado pela
        cliente.</p>
      <li>Campos Inferiores:</li>
      <p>Somar totais relacionados às colunas.</p>
      <li>Gráfico:</li>
      <p>Após os cálculos totais, criar um Gráfico de métodos de pagamento no modelo
        'pizza', mostrando a porcentagem de cada um.</p>
    </ul>

    <a href="http://www.clinicafcare.com.br/planilha_exemplo.png" target="_blank" rel="noopener noreferrer">
      <h3>Clique aqui para ver o exemplo de Planilha finalizada</h3>
    </a>
    <hr class="line">
    <h2 id="etapa3">Preenchimento do Formulário:</h2>
    <p>Preencha o formulário apenas quando terminar os dois ultimos testes (Google Planilhas e Teste de Personalidade).
    </p>
    <p>O envio deste formulário será o aviso de que você terminou todas as atividade, e assim, poderemos seguir com a
      sua avaliação para a etapa final.</p>

    <a href="https://forms.gle/mohq1cajRJcGxrWp8" target="_blank" rel="noopener noreferrer">
      <p>Link do Formulário</p>
    </a>
    <hr class="line">
    <h2 id="etapa4">Entrevista Final</h2>
    <p>As candidatas aprovadas, receberão o link para a próxima e última etapa do processo seletivo, que será a
      entrevista via Hangouts.</p>

    <hr class="line">
    <h2>Data Limite para entrega: 05/09/2022</h2>

    <div class="footer">

      <a href="https://www.clinicafcare.com.br/" target="_blank" rel="noopener noreferrer">


        <img src="https://www.clinicafcare.com.br/footer.png" alt="">
        <p>www.clinicafcare.com.br</p>
      </a>
      <p>2022</p>
    </div>
  </div>

</body>

</html>